.double-single-table-wrapper{

  .col{

    width: 128px;

    background-image: linear-gradient(#d6f7ff, #d6f7ff), linear-gradient(#ffffff, #ffffff);

    background-blend-mode: normal, normal;

    border: solid 1px #96d4e3;

  }

  .col0{

    width: 136px;

    height: 110px;

    background-image: linear-gradient(#d6f7ff, #d6f7ff), linear-gradient(#ffffff, #ffffff);

    background-blend-mode: normal,normal;

    border: solid 1px #96d4e3;

  }

}