.double-single-table-wrapper{
  //头部
  .col{

    border: solid 1px #96d4e3;

  }

  .col0{

    background-color:#d6f7ff;

    border: solid 1px #96d4e3;

    text-align: center;

    color: #00728f;

    font-size: 16px;

  }

  .week{

    background-color:#d6f7ff;

    border: solid 1px #96d4e3;

    text-align: center;

    font-size: 16px;

    color: #00728f;

    font-weight: bold;

  }

 .course-time{

    background-color: #d6f7ff;

    border: solid 1px #96d4e3;

 }

  .course-time-div{

    @include flex;

    @include flex-direction(column);

    @include justify-content(center);

    &.empty{

      text-align: center;

      color: #999999;

    }

  }

  .class-hour,
  .class-hour-time{

    text-align: center;

    color: #00728f;

  }

  .class-hour{

    font-size: 16px;

    font-weight: bold;

  }

  .class-hour-time{

    font-size: 14px;

  };

  .common-col{

    border: solid 1px #96d4e3;

  }

  .course-title{

    font-size: 16px;

    font-weight: bold;

    color: #333333;

    padding:0 8px;

    text-align: center;

    @include textOverFlow;

    &.disabled{

      color: #999999;

    }

  }

  .course-abstract{

    font-size: 14px;

    color:#999999;

    padding:0 8px;

    @include textOverFlow;

    text-align: center;

  }
  .course-teacher{

    padding:0 10px;

    @include textOverFlow;

  }
}