@import "~compass-mixins/lib/animate";
@import "~compass-mixins/lib/compass/css3";
$image-url:'../images';

/*公共的mixin start*/
@mixin textOverFlow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin flex{
  display: flex;
  display:-moz-flex;
  display:-ms-flex;
  display:-webkit-flex;
}
@mixin justify-content($dir){
  justify-content: $dir;
  -ms-flex-pack: $dir;
}
@mixin flex-direction($dir){
  flex-direction:$dir;
  -ms-flex-direction:$dir;
}
@mixin align-items($dir){
  align-items: $dir;
  -ms-flex-align: $dir;
}
/*公共的mixin end*/


//root
#root{
  height:100%;
}


//loading
.ant-spin-nested-loading{
  height:100%;
}

.frame-block-wrapper{

  padding-left: 102px;

  background-position: 32px 28px;

}

.frame-content-rightside{

  position: relative;

  border: 1px solid #05e3f8;

  @include border-radius(0 0 12px 12px);

  margin-top:42px;

}

.ant-modal-footer{

  .Button{

    background-blend-mode: normal, normal;

    border-radius: 2px;

    color: #ffffff;

    border:0;

    outline:none;

  }

}

//学段tab
@import "./period-tab";

//左上角标签链接
@import "./router-tab";


//泡泡型链接标签
@import "./change-tab";

//管理员学科教师课表
@import "./subject-teacher";

//学期选择
@import "./term-pick";

//double-single的表格
@import "./double-single-table";

//single-double的表格
@import "./single-double-table";

//left-menu的样式
@import "./left-menu";

//教师个人课表样式

@import "./teacher-mine";

//调整课表的按钮

@import "./adjust-shedule-btns";

//添加临时课程的弹窗

@import "./add-schedule-modal";

//按时间时间调整课程弹窗

@import "./adjust-by-time-modal";

//停课弹窗
@import "./stop-schedule-modal";

//删除课程弹窗
@import "del-schedule-modal";

//按教师调整课程弹窗

@import "./adjust-by-teacher-modal";
