.single-double-table{

    th,td{

      border: solid 1px #96d4e3;

    }

    th{

      background-color:#d6f7ff;
      
      .week{

        font-size: 16px;

        color: #00728f;

        font-weight: bold;

        text-align: center;

        padding-top: 10px;

      }

      .date{

        font-size: 14px;

        color: #00728f;

        text-align: center;

      }

      .week-wrapper{

        position: relative;

        &.active{

          border: 1px solid #96d4e3;

          background-image: linear-gradient(
                          #cbe5ec,
                          #cbe5ec),
          linear-gradient(
                          #d6f7ff,
                          #d6f7ff);

          &:before{

            position: absolute;

            content: '';

            top:0;

            left:0;

            width:0;

            height: 100%;

            @include box-shadow(-3px 0 5px 1px #aaddea);

          }

          &:after{

            position: absolute;

            content: '';

            top:0;

            left:100%;

            width:0;

            height: 100%;

            @include box-shadow(3px 0 5px 1px #aaddea);

          }

        }

      }

    }

    .noon{

      background-color: #d6f7ff;

    }

    .course-time{

      background-color: #d6f7ff;

    }

    .course-time-title{

      color: #00728f;

      font-size: 16px;

      font-weight: bold;

      text-align: center;

    }

    .course-time-time{

      font-size: 14px;

      color: #00728f;

      text-align: center;

    }

  td{

    &.active{

      border:0;

    }

  }

  .scheduleDiv{

    position: relative;

    text-align: left;

    color: #999999;

    height: 100%;

    @include flex;

    @include flex-direction(column);

    @include justify-content(center);
    
    &.empty{

      font-size:16px;

      padding:0 20px 0 10px;
      
    }

    &.active{

      border-bottom: 1px solid #96d4e3;

      border-right: 1px solid #96d4e3;

      border-left: 1px solid #96d4e3;

      background-image: linear-gradient(
                      #e8faff,
                      #e8faff),
      linear-gradient(
                      #fcfcfc,
                      #fcfcfc);

      &:before{

        position: absolute;

        content: '';

        top:0;

        left:0;

        width:0;

        height: 100%;

        @include box-shadow(-3px 0 5px 1px #aaddea);

      }

      &:after{

        position: absolute;

        content: '';

        top:0;

        left:100%;

        width:0;

        height: 100%;

        @include box-shadow(3px 0 5px 1px #aaddea);

      }

    }

  }

  .noon{

    font-size: 16px;

    color: #00728f;

    font-weight: bold;

    text-align: center;
    
  }

  .title{

    font-size: 16px;

    color: #999999;

    font-weight: bold;

    padding:0 20px 0 10px;

    @include textOverFlow;

    &.active{

      color: #333333;

    }

  }

  .second-title,
  .third-title{

    color: #999999;

    font-size: 14px;

    padding:0 20px 0 10px;

    @include textOverFlow;

  }

}