.add-schedule-modal-wrapper{

  .props{

    font-size: 16px;

    color:#666666;

    width:88px;

    text-align: right;

    padding-right: 18px;

  }

  .modalTable>tbody>tr{

    height: 44px;

  }
  .dropdown_container{

    position: fixed;

    margin-top: -14px;

    &.date{

      margin-left: 160px;

    }

    &.classHour{

      margin-left: 320px;

    }

    .nowWeek,
    .classHourType{

      color: #999999;

      font-size: 12px;

    }

  }

}