//学科总课表部分
.subject-teacher-subject-content{

  margin: 0 30px;

  padding:30px 0;

  border-top: 1px dashed #cccccc;

  .dropdown_wrapper{

    margin-left:0;

  }

  &>.ant-spin-nested-loading>.ant-spin-container>.dropdown_container{

    vertical-align:top;

    float: left;

  }

  .term-pick-wrapper{

    margin: 0 auto;

  }
  .double-single-table-wrapper{

    margin-top:24px;

  }
}

.subject-teacher-teacher-content{

  margin-right: 24px;

  border-top: 1px dashed #cccccc;

  .term-pick-wrapper{

    float: right;

    margin-top: 32px;

  }

  .single-double-table{

    float: right;

    margin-top:26px;

  }

  .left-menu-wrapper{

    float: left;

    height:918px;

  }

  .pick-teacher-wrapper{

    float: left;

    margin-top: 36px;

    margin-left: 44px;

    .teacher-name{

      display: inline-block;

      max-width: 108px;

      @include textOverFlow;

      vertical-align: top;

      font-weight: bold;

      font-size: 14px;

      color: #333333;

    }

    .course-count{

      color: #999999;

    }

    .count{

      color: #ff0000;

    }

  }

  .term-pick-wrapper+.ant-spin-nested-loading{

    float: right;

  }
  
  .please-select-teacher{

    color: #999999;
    
  }

}