.left-nav {
  position: relative;
  left: 0;
  top: 0;
  width: 240px;
  height: 245px;
  background-color: #fff;
}
.left-nav .tab-top {
  width: 100%;
  height: 80px;
  background: url("../images/tab_logo.png") no-repeat center center;
}
.left-nav .tab-bottom {
  margin-top: 10px;
  width: 100%;
  height: 160px;
}
.left-nav .tab-bottom .tab-content {
  width: 240px;
  background-color: #fff;
}
.left-nav .tab-bottom .tab-content li {
  list-style: none;
  width: 100%;
  height: 48px;
  line-height: 48px;
  font-family: MicrosoftYaHei;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  position: relative;
  vertical-align: middle;
  text-indent: 3em;
  cursor: pointer;
}
.left-nav .tab-bottom .tab-content li i {
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 19px;
  height: 20px;
  line-height: 48px;
  background: url("../images/semester_info_logo.png") no-repeat;
}
.left-nav .tab-bottom .tab-content li span {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 8px;
  height: 12px;
  background: url("../images/toleft_logo.png") no-repeat;
  margin-left: 80px;
}
.left-nav .tab-bottom .tab-content li:nth-child(2) i {
  background: url("../images/school_seting_logo.png") no-repeat;
}
.left-nav .tab-bottom .tab-content li:nth-child(3) i {
  background: url("../images/subsystem_logo.png") no-repeat;
}
.left-nav .tab-bottom .tab-content li.selected {
  background: url("../images/selected_bg.png");
}
