.subsystem-access {
  position: relative;
  top: 0;
  right: 0;
  width: 944px;
  height: 678px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.03);
  border-radius: 12px;
  box-sizing: border-box;
}
.subsystem-access .guide {
  width: 881px;
  height: 30px;
  margin-left: 30px;
  margin-top: 30px;
  border-bottom: 1px dotted #ccc;
}
.subsystem-access .guide .subsystem-logo {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/subsystem_logo.png") no-repeat;
}
.subsystem-access .guide span {
  margin-left: 8px;
  display: inline-block;
  width: 140px;
  height: 17px;
  font-family: MicrosoftYaHei;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #333333;
  vertical-align: top;
}
.subsystem-access .subsystem-detail {
  margin-top: 16px;
  margin-left: 54px;
  width: 255px;
  height: 13px;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #999999;
}
.subsystem-access .subsystem-detail span {
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #333333;
}
.subsystem-access .subsystem-detail span:nth-child(2) {
  font-weight: normal;
  letter-spacing: 0px;
  color: #ff0000;
}
.subsystem-access .access-status,
.subsystem-access .users-type {
  display: inline-block;
  width: 195px;
  height: 28px;
  margin-top: 12px;
  margin-left: 54px;
}
.subsystem-access .access-status select,
.subsystem-access .users-type select {
  margin-right: 8px;
}
.subsystem-access .users-type {
  margin-left: 29px;
}
.subsystem-access .users-type select {
  margin-right: 8px;
}
.subsystem-access .subsystem-search {
  display: inline-block;
  margin-left: 232px;
  margin-top: 12px;
  width: 220px;
  height: 28px;
}
