.App {
  text-align: center;

  .ButtonBox {

    .Box-btn {
      position: relative;
      width: 100%;
      min-height: 300px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin: 20px 0;

    }


  }
  .Box {
    position: relative;
    width: 100%;
    min-height: 300px;
    border-bottom: 1px #000 solid;

    .BoxTop {
      width: 100%;
      height: 50px;
      background: #008aff;
      .BoxTop_title {
        line-height: 50px;
        text-align: left;
        padding: 0 20px;
        color: #fff;
        font-size: 18px;
      }
    }
  }
  .Box-content {
    position: relative;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 20px 0;
  }

  .Box-flex {
    width: 1200px;
    min-height: 300px;
    margin: 0 auto;
    &::after{
      content:"";/*设置内容为空*/
      height:0;/*高度为0*/
      line-height:0;/*行高为0*/
      display:block;/*将文本转为块级元素*/
      visibility:hidden;/*将元素隐藏*/
      clear:both;/*清除浮动*/
    }
    .Box-tips {
      width: 300px;
      float: left;
      .tips {
        color: #000;
        font-size: 16px;
        text-align: left;
      }
    }
    .Box-content-show {
      width: 900px;
      float: left;
      display:-webkit-box;
      display:-webkit-flex;
      display:-moz-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -o-flex-wrap: wrap;
      flex-wrap:wrap;
      button {
        margin: 0 30px 20px;
      }

      .ant-input {
        width: 250px;
        margin:0 20px;
      }
    }

    .Box-DatePicker-show{
      .ant-input {
        width: 250px;
        margin:0 ;
      }

      .ant-calendar-picker{
        margin:10px 20px;
      }
    }
  }
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding: 0;
}

.ant-input-affix-wrapper .ant-input-prefix {
  left: 30px;
}
.ant-input-affix-wrapper{
  width: auto;
}

.ModalContent{
  width: 100%;
  height: 100% ;
  background: #f5f5f5;
  text-align: center;
  font-size: 72px;
  color: #b8b8b8;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.loading_warpper{
  position: relative;
  width: 600px;
  height: 300px;
  border: 1px solid #999999;
  text-align: left;
}
.alert_container{
  width: 100%;
  height: 400px;
  border: 1px solid #aaaaaa;
  position: relative;
  text-align: center;
  font-size: 24px;
  .alert_btn{
    cursor:pointer;
    width:156px;
    height:42px;
    line-height: 42px;
    border: 1px solid #0099ff;
    border-radius:8px;
  }
}

