.base-setting-wrapper{

  color: #333333;

  .title-bar{

    height: 36px;

    margin:16px 32px 0 54px;

    line-height: 36px;

    border-bottom: 1px dashed #cdcdcd;

  }

  .edit-btn{

    float: right;

    background: url('#{$image-url}/pencil.png') no-repeat left center;

    border:0;

    outline: none;

    color: #0099ff;

    cursor: pointer;

    font-size: 14px;

    padding-left: 20px;

    height: 36px;

    margin-top: 0;

    line-height: 36px;

    &:hover{

      background-image:url('#{$image-url}/pencil-active.png');

      color:#ff6600;

    }

  }

  .base-item-setting{

    padding:24px 48px;


    .title{

      padding-left:24px;

      background-position: left center;

      background-repeat: no-repeat;

      &.base{

        background-image:url("#{$image-url}/base.png");

      }

      &.concact{

        background-image:url("#{$image-url}/concact.png");

      }

      &.sign{

        background-image:url("#{$image-url}/sign.png");

      }

    }

  }

  .content-wrapper{

    margin:32px 120px 0 24px;

    font-size: 14px;

    &>div{

      margin-bottom: 24px;

      &>*{

        float: left;

      }

    }

  }

  .props{

    width: 60px;

    text-align: right;

    margin-right: 12px;

    color: #999999;

  }

}

