#HandleCourseClass {
  padding-top: 40px;
  .row {
    position: relative;
    height: 28px;
    margin-bottom: 18px;
    width: 100%;
    .row-column {
      position: relative;
      height: 28px;
      display: inline-block;
      width: 50%;

      .left {
        position: relative;
        display: inline-block;
        width: 40%;
        line-height: 28px;
        text-align: right;
        font-size: 16px;
        color: #666;
      }
      .right {
        position: relative;
        display: inline-block;

        width: 60%;
        height: 28px;
        line-height: 28px;

        .dropdown_container .dropdown_wrapper {
          margin-left: 0;
        }

        .ant-input {
          height: 28px;
        }

        .dropdown_container {
          margin-top: -4px;
        }

        .teacher-select {
          position: absolute;
          right: 66px;
          line-height: 28px;
          color: #0066ff;
          text-decoration: underline;
          font-size: 12px;
          cursor: pointer;
        }

        .teacherName {
          padding-right: 36px;
          cursor: pointer;

        }
        .noChange {
          font-size: 16px;
          padding-left: 11px;
        }

        
        
      }
      //学生名单
      .right-2{
        width: 490px;
      height: 150px;

      .Student-box {
        width: 490px;
        height: 150px;
        background-color: #ffffff;
        border-radius: 3px;
        border: solid 1px #bac7d9;
        .box-top {
          position: relative;
          width: 100%;
          height: 30px;
          background-color: #e8eff7;
          .top-left {
            position: absolute;
            left: 0;
            line-height: 30px;
            height: 30px;
            color: #999999;
            font-size: 12px;
            padding: 0 11px;

            .count {
              color: #ff6600;
            }
          }
          .top-right {
            position: absolute;
            right: 0;
            line-height: 30px;
            padding: 0 11px;
            height: 30px;

            .handle {
              font-size: 12px;
              text-decoration: underline;
              text-align: center;
              margin-left: 11px;
              cursor: pointer;
              color: #0066ff;
            }
          }
        }

        .box-content {
          width: 100%;
          height: calc(100% - 30px);
          //overflow: auto;
          padding: 10px 12px 4px 12px;

          .content-card {
              display: inline-block;
              position: relative;
              padding: 0 9px ;
            width: 140px;
            height: 28px;
            line-height: 28px;
            border-radius: 3px;
            border: solid 1px #cccccc;
            background-color: #fff;
            text-align: left;
            color: #333333;
            font-size: 14px;
            margin-right: 5px;
            margin-bottom: 8px;
            cursor: default;
            .icon-x{
                display: none;
                width: 7px;
                height: 28px;
                background: url(../images/icon-x.png) no-repeat center center;
                background-size: 7px 7px;
                line-height: 28px;
                position: absolute;
                right: 9px;
                top: 0;

            }
            &:hover{
              background-color: #f4f9ff;
              border: solid 1px #0090ff;
              
              .icon-x{
                  display: block;

              }

            }

            .card-id {
              color: #999999;
              font-size: 12px;
            }
          }
        }
      }
      
    }
    }

    .row-column-2{
        width: 100%;
        .left{
            width: 20%;
            float: left;
        }
    }
  }
}
