.frame_content_container .frame_left_menu_pic img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px solid #b8b8b8;
  margin-top: 34px;
  margin-left: 70px;
}
.frame_leftmenu_mainitem{
  display: block;
}