@import "~compass-mixins/lib/animate";
@import "~compass-mixins/lib/compass";
/*公共变量 start*/
$themeColor:#333333;//整个界面的文字主题色
$tableBgColor:#ebebeb;//table的鼠标浮动的背景色
$pagiThemeColor:#379ef5;//分页的主题色
$pageDisabled:#d9d9d9;//分页禁止点击颜色
$dropBorder:#bac7d9;//下拉组件正常主题色
$dropHoverBorder:#5897ed;//下拉组件鼠标悬停后的边框色
$dropHoverBg:#e8edf5;//下拉组件鼠标悬停后的背景色
$dropDisabled:#bfbfbf;//下拉组件禁用主题色
$image_url:"./images/";
$MenuSelect: linear-gradient(90deg,
        #ff4200 0%,
        #ffab3d 100%); /*菜单栏栏目选中状态*/
/*公共变量 end*/
/*公共minix start*/
@mixin textOverFlow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin justify-content($dir){
  -ms-flex-pack: $dir;
  justify-content: $dir;
  -ms-flex-pack: $dir;
}
@mixin flex-direction($dir){
  flex-direction:$dir;
  -ms-flex-direction:$dir;
}
@mixin align-items($dir){
  align-items: $dir;
  -ms-flex-align: $dir;
}
/*公共mixin end*/

/*公共css start*/
*{
  margin: 0;
  padding: 0;
}
body{
  color:#333333;
}
.clearfix::after{
  content: "";
  display: block;
  height: 0;
  clear:both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1; /*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}

/*公共css end*/
/*
组件：按钮组
*/
.Button {
  text-align: center;
  color: #fff;
  border: none;
  box-sizing: border-box;

}

.btn-large {
  min-width: 240px;
  height: 42px;
  line-height: 42px;

  font-size: 20px;
  padding: 0 25px;
}

.btn-small {
  min-width: 72px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  padding: 0 15px;
}

.btn-normal {
  min-width: 160px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  padding: 0 20px;
}

.btn-size {
  width: auto;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  padding: 0 20px;
}

.btn-orange {
  background-image: linear-gradient(90deg,
          #ffba15 0%,
          #ff9f0b 45%,
          #ff8400 100%
  );

  &:hover {
    background-image: linear-gradient(90deg,
            #ffcf5b 0%,
            #ffb42e 45%,
            #ff9900 100%
    );
    color: #fff;
  }
  &:focus {
    background-image: linear-gradient(90deg,
            #ffba15 0%,
            #ff9f0b 45%,
            #ff8400 100%
    );
    color: #fff;
  }
}

.btn-green {
  background-image: linear-gradient(90deg,
          #00e566 0%,
          #12d033 45%,
          #23ba00 100%
  );
  &:hover {
    background-image: linear-gradient(90deg,
            #00f36d 0%,
            #14e037 45%,
            #27cd00 100%
    );
    color: #fff;
  }
  &:focus {
    background-image: linear-gradient(90deg,
            #00e566 0%,
            #12d033 45%,
            #23ba00 100%
    );
    color: #fff;
  }
}

.btn-blue {
  background-image: linear-gradient(90deg,
          #0fc1fc 0%,
          #1da4fe 100%
  );
  &:hover {
    background-image: linear-gradient(90deg,
            #32ccff 0%,
            #3ab0ff 100%
    );
    color: #fff;
  }
  &:focus {
    background-image: linear-gradient(90deg,
            #0fc1fc 0%,
            #1da4fe 100%
    );
    color: #fff;
  }
}

.btn-red {
  background-image: linear-gradient(90deg,
          #ff593e 0%,
          #ff1b10 100%
  );
  &:hover {
    background-image: linear-gradient(90deg,
            #ff6b53 0%,
            #ff352b 100%
    );
    color: #fff;
  }
  &:focus {
    background-image: linear-gradient(90deg,
            #ff593e 0%,
            #ff1b10 100%
    );
    color: #fff;
  }
}

.btn-mazarine {
  background-image: linear-gradient(90deg,
          #4585ce 0%,
          #236bbe 62%,
          #0051ae 100%
  );
  &:hover {
    background-image: linear-gradient(90deg,
            #369ae0 0%,
            #1f82dd 62%,
            #0769da 100%
    );
    color: #fff;
  }
  &:focus {
    background-image: linear-gradient(90deg,
            #4585ce 0%,
            #236bbe 62%,
            #0051ae 100%
    );
    color: #fff;
  }
}

.btn-disabled {
  background-image: linear-gradient(90deg,
          #d1d1d1 0%,
          #949494 100%
  );
  color: #fff !important;
  &:hover {
    background-image: linear-gradient(90deg,
            #d1d1d1 0%,
            #949494 100%
    );
  }
  &:focus {
    background-image: linear-gradient(90deg,
            #d1d1d1 0%,
            #949494 100%
    );
  }
}

/*default*/

.btn-orange-default {
  color: #ff8400;
  border: 1px #ff8400 solid;
  &:hover {
    background-image: linear-gradient(90deg,
            #ffcf5b 0%,
            #ffb42e 45%,
            #ff9900 100%
    );
    color: #fff;
  }
  &:focus {
    background-image: linear-gradient(90deg,
            #ffba15 0%,
            #ff9f0b 45%,
            #ff8400 100%
    );
    color: #fff;
  }
}

.btn-green-default {
  color: #23ba00;
  border: 1px solid #23ba00;
  &:hover {
    background-image: linear-gradient(90deg,
            #00f36d 0%,
            #14e037 45%,
            #27cd00 100%
    );
    color: #fff;
  }
  &:focus {
    background-image: linear-gradient(90deg,
            #00e566 0%,
            #12d033 45%,
            #23ba00 100%
    );
    color: #fff;
  }
}

.btn-blue-default {
  color: #0099dd;
  border: 1px solid #0099dd;
  &:hover {
    background-image: linear-gradient(90deg,
            #22c8ff 0%,
            #11a6ef 55%,
            #0085de 100%
    );
    color: #fff;
  }
  &:focus {
    background-image: linear-gradient(90deg,
            #22c8ff 0%,
            #11a6ef 55%,
            #0085de 100%
    );
    color: #fff;
  }
}

.btn-red-default {
  color: #ff1b10;
  border: 1px solid #ff1b10;
  &:hover {
    background-image: linear-gradient(90deg,
            #ff6b53 0%,
            #ff352b 100%
    );
    color: #fff;
  }
  &:focus {
    background-image: linear-gradient(90deg,
            #ff593e 0%,
            #ff1b10 100%
    );
    color: #fff;
  }
}

.btn-mazarine-default {
  color: #0051ae;
  border: 1px solid #0051ae;
  &:hover {
    background-image: linear-gradient(90deg,
            #369ae0 0%,
            #1f82dd 62%,
            #0769da 100%
    );
    color: #fff;
  }
  &:focus {
    background-image: linear-gradient(90deg,
            #4585ce 0%,
            #236bbe 62%,
            #0051ae 100%
    );
    color: #fff;
  }
}

.btn-disabled-default {
  color: #7a7a7a;
  border: 1px solid #7a7a7a;
  &:hover {
    background-image: linear-gradient(90deg,
            #d1d1d1 0%,
            #949494 100%
    );
  }
  &:focus {
    background-image: linear-gradient(90deg,
            #d1d1d1 0%,
            #949494 100%
    );
  }
}

/*
输入框
*/

textarea.ant-input {
  resize: none;
  border: 1px solid #bac7d9;
  line-height: 28px;
  font-size: 14px;
  padding: 10px 12px 10px 8px;
  outline: none;
  color: #333;

}

/*
空数据提示
*/
.emptyBox {

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  .empty {
    position: relative;
    display: inline-block;

  }
  .tips-error-1 {
    width: 410px;
    height: 180px;
    background: url("./images/empty/tips-error-1.png") no-repeat center;
    background-size: 410px 180px;
  }

  .tips-error-2 {
    width: 154px;
    height: 154px;
    background: url("./images/empty/tips-error-2.png") no-repeat center;
    background-size: 154px 154px;
  }
  .tips-error-3 {
    width: 353px;
    height: 93px;
    background: url("./images/empty/tips-error-3.png") no-repeat center;
    background-size: 353px 93px;
  }
  .tips-error-4 {
    width: 160px;
    height: 100px;
    background: url("./images/empty/tips-error-4.png") no-repeat center;
    background-size: 160px 100px;
  }
  .tips-error-5 {
    width: 300px;
    height: 180px;
    background: url("./images/empty/tips-error-5.png") no-repeat center top;
    background-size: 300px 264px;
  }

  .noTitle {
    display: none;
  }
  .initTitle {
    height: 20px;
    font-size: 16px;
    color: #999999;
    margin-top: 15px;
    text-align: center;
    line-height: 1.5;
  }
}

/*
空数据提示
*/
.Empty {
  width: 450px;
  margin: 20px 0 50px;
}

/*
模态框
*/
.Modal-1 {
  position: relative;
  width: 810px;
  .ant-modal-close {
    height: 48px;
    .ant-modal-close-x {
      height: 48px;
      line-height: 48px;
      width: 48px;
      color: #fff;
    }
  }
  .ant-modal-header {
    width: 100%;
    height: 48px;
    padding: 16px 20px 14px;
    display: flex;
    flex-flow: row;
    align-items: center;
    background-image: linear-gradient(-90deg,
            #05e4f8 0%,
            #03c3fc 62%,
            #00a1ff 100%);
    .ant-modal-title {
      color: #fff;
      font-size: 18px;
    }
  }

  .ant-modal-body {
    position: relative;
    height: 456px;
    overflow: auto;
    box-sizing: border-box;
    padding: 24px 36px;
  }

  .ant-modal-footer {
    height: 56px;
    padding: 13px 24px;
    background-color: #e8eff7;

    .ant-btn {

    }
  }
}

.Modal-2 {
  position: relative;
  width: 810px;
  .ant-modal-close {
    height: 56px;
    .ant-modal-close-x {
      height: 56px;
      line-height: 56px;
      width: 48px;
      color: #b8b8b8;
    }
  }
  .ant-modal-header {
    width: 100%;
    height: 56px;
    background: #fff;
    display: flex;
    flex-flow: row;
    align-items: center;
    border-bottom: dashed 1px #ccc;
    .ant-modal-title {
      color: #333;
      font-size: 20px;
    }
  }

  .ant-modal-body {
    position: relative;
    height: 411px;
    box-sizing: border-box;
    padding: 33px 48px;
    overflow: auto;
  }

  .ant-modal-footer {

    .ant-btn {

    }
  }
}

.Modal-3 {
  position: relative;
  width: 588px;
  .ant-modal-close {
    height: 42px;
    .ant-modal-close-x {
      height: 48px;
      line-height: 48px;
      width: 48px;
      color: #fff;
    }
  }
  .ant-modal-header {
    width: 100%;
    height: 48px;
    display: flex;
    flex-flow: row;
    align-items: center;
    background-image: linear-gradient(-90deg,
            #00ffe4 0%,
            #0099ff 100%);
    .ant-modal-title {
      color: #fff;
      font-size: 16px;
    }
  }

  .ant-modal-body {
    position: relative;
    height: 293px;
    box-sizing: border-box;
    padding: 20px 24px;
    overflow: auto;
  }

  .ant-modal-footer {
    height: 48px;
    background-color: #ffffff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.36);

    .ant-btn {

    }
  }
}
@import "./scss/pagination";
@import "./scss/pagination";
@import "./scss/search";
@import "./scss/dropdown";
@import "./scss/loading";
@import "./scss/alert";