@import "~compass-mixins/lib/animate";
@import "~compass-mixins/lib/compass/css3";
$image-url:'../images';

/*公共的mixin start*/
@mixin textOverFlow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin justify-content($dir){
  -ms-flex-pack: $dir;
  justify-content: $dir;
  -ms-flex-pack: $dir;
}
@mixin flex-direction($dir){
  flex-direction:$dir;
  -ms-flex-direction:$dir;
}
@mixin align-items($dir){
  align-items: $dir;
  -ms-flex-align: $dir;
}
/*公共的mixin end*/


//root
#root{
  height:100%;
}

@import "title-bar";

//loading
.ant-spin-nested-loading{
  height:100%;
}

//左侧菜单
.frame-content-leftside{
  background-color: #ffffff;
}


//按钮
.ant-btn{
  &.btn-blue{
    padding:0 15px;
    height:24px;
    border-radius: 14px;
    font-size: 14px;
    border: none;
    outline: none;
    background-image: linear-gradient(90deg, #0fc1fc 0%, #1da4fe 100%), linear-gradient(#ffffff, #ffffff);
    background-blend-mode: normal,normal;
    @include box-shadow(0px 7px 22px -6px #5dcbfe);
    color:#ffffff;
    line-height: 24px;
  }
  &.addTeacher{
    color: #ffffff;
    background-color: #0099ff;
    background-image: none;
    @include border-radius(3px);
    height:28px;
    float: right;
    @include box-shadow(none);
  }
}
.frame-nav-content{
  .btn-blue{
    float: right;
    margin-top: 13px;
    &:not(:nth-child(1)){
      margin-right: 12px;
    }
  }
}

//行政班总览
.admclass-search{
  float:right;
}
.admclass-content-wrapper{
  margin:16px 42px;
}
//统计
.statistic-wrapper{
  height: 214px;
  background-color: #f5f5f5;
  margin-top: 50px;
  ul{
    width: 552px;
    height: 148px;
    margin: 0 auto;
  }
  .statistic-item{
    float: left;
    &:not(:first-child){
      margin-left:92px
    }
  }
  .statistic-bg{
    width: 122px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 32px;
    text-align: center;
    &.statistic-blue{
      background-image: url("#{$image-url}/statistic-blue.png");
    }
    &.statistic-orange{
      background-image: url("#{$image-url}/statistic-orange.png");
    }
    &.statistic-green{
      background-image: url("#{$image-url}/statistic-green.png");
    }
  }
  .statistic-title{
    margin-top: -20px;
    text-align: center;
    font-size: 16px;
    color: #333333;
  }
  .statistic-num{
    font-size: 36px;
    color: #ffffff;
    line-height: 118px;
  }
}
//tab

.partdata-tab-wrapper{
  margin:24px 0;
}
.partdata-tab-item{
  position: relative;
  float: left;
  width: 268px;
  height: 176px;
  margin-bottom: 20px;
  &:not(:nth-child(3n+1)){
    margin-left: 28px;
  }
  .partdata-tab-content{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

      background-image: url("#{$image-url}/grade-tab-bg.png");

  }
  .partdata-tab-shadow{
    position: absolute;
    display: none;
    z-index: 3;
    bottom: -20px;
    left: -8px;
    width: 288px;
    height: 76px;
    background-repeat: no-repeat;
    background-image: url('#{$image-url}/grade-tab-shadow.png');
  }
  .partdata-tab-title{
    font-size: 16px;
    text-align: center;
    color: #000000;
    padding: 15px 10px 12px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
  }
  .partdata-tab-table{
    font-size:14px;
    color: #999999;
    margin:12px 32px;
    tr{
      height: 24px;
    }
    .col1{
      text-align: right;
    }
    .col2{
      padding-left: 6px;
      color:#333333;
    }
  }
  &:hover{
    .partdata-tab-shadow{
      display: block;
    }
  }
  .cooperate{
    position: absolute;
    display: none;
    width: 262px;
    height: 28px;
    background-image: url("#{$image-url}/cooperate-bg.png");
    bottom:7px;
    left:3px;
    &>div:not(.line) {
      padding-left:20px;
      float: left;
      cursor: pointer;
      margin-top:4px;
      background-position:left center;
      background-repeat: no-repeat;
      font-size:14px;
      color: #ffffff;
      &:hover{
        text-decoration: underline;
      }
    }
    .reset{
      background-image: url("#{$image-url}/reset.png");
      margin-left: 46px;
    }
    .delete{
      background-image: url("#{$image-url}/del.png");
      margin-left:62px;
    }
    .line{
      position: absolute;
      left: 133px;
      top: 3px;
      width: 1px;
      height: 21px;
      background-image: url("#{$image-url}/line.png");
    }
  }


  &.class{
    height:150px;
    .partdata-tab-content{
      background-image:url("#{$image-url}/class-tab-bg.png");
      background-size:cover;
    }
    .partdata-tab-table{
      font-size:12px;
      margin:8px 50px;
      tr{
        height: 20px;
      }
    }
    .partdata-tab-shadow{
      background-image: url("#{$image-url}/class-tab-shadow.png");
      width: 284px;
      height: 52px;
      top:118px;
    }
    &:hover{
      .cooperate{
        display: block;
      }
    }
  }

}

//教师列表
.admclass-teacher-wrapper{
  margin-top:44px;
  padding:0 6px;
  &>div{
    float: left;
    position: relative;
    width: 196px;
    height:100px;
    @include flex;
    @include background-size(100%);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    &:not(:nth-child(4n+1)){
      margin-left:18px;
    }

    .cooperate{
      position: absolute;
      display: none;
      width:175px;
      height:28px;
      background-image: url("#{$image-url}/cooperate-bg1.png");
      @include background-size(100%);
      bottom:9px;
      left:10px;
      &>div:not(.line) {
        padding-left:20px;
        float: left;
        cursor: pointer;
        margin-top:3px;
        background-position:left center;
        background-repeat: no-repeat;
        font-size:14px;
        color: #ffffff;
        &:hover{
          text-decoration: underline;
        }
      }
      .reset{
        background-image: url("#{$image-url}/reset.png");
        margin-left:22px;
      }
      .delete{
        background-image: url("#{$image-url}/del.png");
        margin-left:40px;
      }
      .line{
        position: absolute;
        left:88px;
        top: 4px;
        width:1px;
        height: 20px;
        background-image: url("#{$image-url}/line.png");
      }

      &.ganger{
        .reset{
          margin-left: 40px;
        }
      }
    }
    &:hover{
      .cooperate{
        display: block;
      }
    }
  }
}
.admclass-teacher-ganger{
  background-image: url("#{$image-url}/teacher-tab-ganger.png");
  &:before{
    position: absolute;
    content: '班主任';
    width: 50px;
    height: 20px;
    left:1px;
    top:5px;
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    font-size: 14px;
    background: url("#{$image-url}/ganger-tab.png") no-repeat center;
    @include background-size(100%);
  }
  &:hover{
    &:after{
      position: absolute;
      content: '';
      bottom:-19px;
      left: -14px;
      width:218px;
      height: 22px;
      background: url("#{$image-url}/teacher-tab-ganger-hover.png") no-repeat center;
      @include background-size(100%);
    }
  }
}
.admclass-teacher-item{
  background-image: url("#{$image-url}/teacher-tab.png");
  &:hover{
    &:after{
      position: absolute;
      content: '';
      bottom:-17px;
      left: -2px;
      width:200px;
      height: 22px;
      background: url("#{$image-url}/teacher-tab-hover.png") no-repeat center;
      @include background-size(100%);
    }
  }
}
.admclass-teacher-photo{
  width:50px;
  height: 64px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 18px;
  margin-top: 18px;
  cursor: pointer;
}
.admclass-teacher-info{
  margin-left: 10px;
  margin-top: 26px;
  @include flex;
  @include flex-direction(column);
  @include justify-content(space-between);
  height: 52px;
}
.admclass-teacher-tab{
  @include flex;
}
.admclass-teacher-name{
  color: #333333;
  font-size:14px;
  font-weight: bold;
  max-width:56px;
  line-height:22px;
  @include textOverFlow;
  cursor: pointer;
}
.admclass-teacher-id{
  background: url("#{$image-url}/id-card.png") no-repeat left center;
  padding-left:20px;
  font-size:12px;
  color: #999999;
  max-width:100px;
  @include textOverFlow;
}
.admclass-teacher-project{
  margin-left: 3px;
  max-width:46px;
  padding:3px 6px;
  line-height:16px;
  @include border-radius(3px);
  @include textOverFlow;

  &.math{
    color: #2fa400;
    background-color:rgba(47,164,0,0.2);
  }
  &.english{
    color: #f26337;
    background-color:rgba(242,99,55,0.2);
  }
  &.physics{
    color: #0081cd;
    background-color: rgba(0,129,205,0.2);
  }
  &.history{
    color: #3e73ec;
    background-color: rgba(62,115,263,0.2);
  }
  &.other{
    color: #da6801;
    background-color: rgba(218,104,1,0.2);
  }
}

